@tailwind preflight;

@tailwind components;

.h-0{
    height: 0;
}

.spinner {
    color: transparent !important;
    pointer-events: none;
    position: relative;
    &:after{
        animation: spinAround 500ms infinite linear;
        border: 2px solid black;
        border-radius: 290486px;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        width: 2em;
        height: 2em;
        left: calc(50% - (2em / 2));
        top: calc(50% - (2em / 2));
        position: absolute !important;
    }
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

.no-visited:visited{
    color:black;
}


@tailwind utilities;